.infoBar {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 40px 30px;
}

.infoLeft{
    display: flex;
    flex-direction: column;
}

.message{
    color: #A7A4A4;
    padding-bottom: 5px;
    font-size: 12px;
}

.pageName {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #6A6A6A;
}

.profile {
    display: flex;
    align-items: center;
}

.notification {
    background-size: 15px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
    background-image: url('C:\Users\revan\OneDrive\Pictures\sort\notification-icon.svg');
}

.username {
    margin: 0px 10px;
}

.dp{
    background-size: 25px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
    justify-content: center;
    background-image: url('C:\Users\revan\OneDrive\Pictures\sort\dp.svg');
}