.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    color: #9d9d9d;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtn {
    position: absolute;
    left: 95%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    color: #9d9d9d;
    margin: 10px;
    background-color: #d9d9d9;
    cursor: pointer;
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    margin: 10px 30px;
    justify-content: space-between;
}

.textBox {
    width: 340px;
    height: 40px;
    background: #F1F5F8;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 5px 0px;
    text-indent: 20px;
    box-shadow: none;
    padding-right: 10px;
}

.textBoxSmall{
    width: 100px;
    margin: 5px 30px 0px 0px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

.flex {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 120px;
}

.icon{
    float: left;
    background-size: 10px;
    background-repeat: no-repeat;
    height: 20px;
    width: 12px;
}

.attachment{
    margin: 0px 10px;
    cursor: pointer;
    background-image: url('C:\Users\revan\OneDrive\Pictures\sort\attachment.svg');
}

.flexRow{
    display: flex;
    flex-direction: row;
}

/* input[type="time"] {
    background: #fff;
}

input[type="time"]:before {
    content: 'From';
    color: #9d9d9d;
    position: absolute;
    background: #fff;
}

input[type="time"]:focus:before {
    width: 0;
    content: '';
} */